@charset "UTF-8";

/* outros devices */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: linear-gradient(45deg, var(--cor01), var(--cor02));
    }

    section#login {
        height: 80%;
        width: 90vw;   
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 35%;
    }

    section#login > div#formulario {
        float: right;
        height: 100%;
        width: 65%;
        margin: auto;
        padding: 1rem;
    }

    section#login > div#formulario > h1 {
        font-size: 1.5rem;
        margin: 2rem 0;
    }
    
    section#login > div#formulario > p {
        margin: 2rem 0;
    }

    form > div#mail, form > div#passw {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    form div#botoes {
        margin-top: 2rem;
    }
    
    form div#botoes input[type = submit] {
        margin: 1rem 0;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    body {
        background: linear-gradient(45deg, var(--cor01), var(--cor02));
    }
    
    section#login {
        height: 85%;
        width: 80vw;
    }

    section#login > div#imagem {
        float: right;
        height: 100%;
        width: 40%;
    }

    section#login > div#formulario {
        float: left;
        height: 100%;
        width: 60%;
        margin: auto;
        padding: 1rem;
    }

    section#login > div#formulario > h1 {
        font-size: 1.5rem;
        margin: 2rem 0;
    }
    
    section#login > div#formulario > p {
        font-size: 1rem;
        margin: 2rem 0;
    }

    form > div#mail, form > div#passw {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    form div#botoes {
        margin-top: 2rem;
    }

    
    form div#botoes input[type = submit], form div#botoes input[type = button] {
        margin: 1rem 0;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background: linear-gradient(45deg, var(--cor01), var(--cor02));
    }
    
    section#login {
        height: 85%;
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 45%;
    }

    section#login > div#formulario {
        float: right;
        height: 100%;
        width: 55%;
        margin: auto;
        padding: 1rem;
    }

    section#login > div#formulario > h1 {
        font-size: 1.5rem;
        margin: 2rem 0;
    }
    
    section#login > div#formulario > p {
        font-size: 1rem;
        margin: 2rem 0;
    }

    form > div#mail, form > div#passw {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    form > div#mail input[type = email], form > div#passw input[type = password] {
        height: 100%;
        width: 92%;
    }

    form div#botoes {
        margin-top: 2rem;
    }

    
    form div#botoes input[type = submit], form div#botoes input[type = button] {
        margin: 1rem 0;
        padding: 0.5rem;
    }   
}