@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* outros devices */

@media screen and (min-width: 768px) and (max-width: 992px) {

    section#login {
        display: inline;
        height: 90%;
        width: 80%;
        max-width: 85%;
    }

    section#login > div#imagem {
        display: inline-block;
        height: 100%;
        width: 35%;
    }

    section#login > div#formulario {
        position: inherit;
        display: inline-block;
        height: 100%;
        width: 65%;
        padding: 2rem;
    }

    section#login > div#formulario > h1 {
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    section#login > div#formulario > p {
        font-size: 1.15rem;
        margin: 3rem 0;
    }

    form > div#mail, form > div#passw {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    form div#botoes {
        margin-top: 3rem;
    }

    
    form div#botoes input[type = submit], form div#botoes input[type = button] {
        margin: 1rem 0;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    section#login {
        display: inline;
        height: 90%;
        width: 70%;
        max-width: 75%;
    }

    section#login > div#imagem {
        position: inherit;
        right: 0;
        display: inline-block;
        height: 100%;
        width: 40%;
    }

    section#login > div#formulario {
        position: inherit;
        display: inline-block;
        height: 100%;
        width: 60%;
        padding: 2rem;
    }

    section#login > div#formulario > h1 {
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    section#login > div#formulario > p {
        font-size: 1.15rem;
        margin: 3rem 0;
    }

    form > div#mail, form > div#passw {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    form div#botoes {
        margin-top: 3rem;
    }

    
    form div#botoes input[type = submit], form div#botoes input[type = button] {
        margin: 1rem 0;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 1200px) {
    section#login {
        display: inline;
        height: 90%;
        width: 70%;
        max-width: 75%;
    }

    section#login > div#imagem {
        display: inline-block;
        height: 100%;
        width: 50%;
        background-position: left bottom;
    }

    section#login > div#formulario {
        position: inherit;
        right: 1rem;
        display: inline-block;
        height: 100%;
        width: 70%;
        padding: 3rem 1rem 3rem 2rem;
        border-radius: 1rem;
        background-color: var(--cor03);
    }

    section#login > div#formulario > h1 {
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    section#login > div#formulario > p {
        font-size: 1.15rem;
        margin: 3rem 0;
    }

    form > div#mail, form > div#passw {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    form > div#mail input[type = email], form > div#passw input[type = password] {
        height: 100%;
        width: 94%;
    }

    form div#botoes {
        margin-top: 3rem;
    }

    
    form div#botoes input[type = submit], form div#botoes input[type = button] {
        margin: 1rem 0;
        padding: 0.5rem;
    }   
}